@import "../import/bourbon/stylesheets/bourbon.scss";
@import "../import/neat/stylesheets/neat.scss";



body{
	
	margin:0;
	font-family: 'Montserrat', sans-serif;

	.site-header{
		background:#d2d2d2;
		border-bottom:1px solid #333;
		
		.header-wrapper{
			@include outer-container;

			#site-name{
				@include span-columns(6);
				padding: 5px 10px;
				line-height: 50px;
				display: inline-block;
				font-size: 20px;	
				font-weight:600;		
			}
			nav{
				@include span-columns(6);
				@include omega();

				li{
					display:inline-block;
					padding:5px 10px;
					
					a{
						text-decoration:none;
						text-transform:uppercase;
						color:#333;					
					}				
				}
			}
		}	
	}
	.main{
		background:url(../img/chicago.jpg);
		background-repeat:none;
		background-size:cover;

		.container{
			@include outer-container;
			display:table;
			padding:100px;
		}
	}
	footer{
		border-top:1px solid #333;	
	}
}


